<html>
<title>
	Arrest Information Sheet
</title>

<body>

	<div id="" style="text-align:left; font-size:20px; position:absolute; left:200px "><b> <u> ARREST INFORMATION SHEET </u> </b></div>

	<div id="" style="text-align:left; position:absolute; top:70px"> Person Arrested: </div>

	<div id="" style="text-align:left; position:absolute; top:70px; left: 120px"> _____________________________________________________________________________</div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:88px; left:160px"> (Last Name) </div>
	<div id="" style="text-align:left; font-size:18px; position:absolute; top:88px; left:370px"> (First Name) </div>
	<div id="" style="text-align:left; font-size:18px; position:absolute; top:88px; left:580px"> (Middle Name) </div>

	<div id="" style="text-align:left; position:absolute; top:135px"> Alias or Nickname: </div>
	<div id="" style="text-align:left; position:absolute; top:135px; left:130px"> _____________________ </div>

	<div id="" style="text-align:left; position:absolute; top:135px; left:310px"> Citizenship: </div>
	<div id="" style="text-align:left; position:absolute; top:135px; left:385px"> _____________________ </div>

	<div id="" style="text-align:left; position:absolute; top:135px; left:570px"> Sex: </div>
	<div id="" style="text-align:left; position:absolute; top:135px; left:600px"> _________________ </div>

	<div id="" style="text-align:left; position:absolute; top:175px"> Address: </div>
	<div id="" style="text-align:left; position:absolute; top:175px; left:70px"> ____________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:215px"> Date arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:215px; left:105px"> ________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:215px; left:377"> Time arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:215px; left:470px"> __________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:255px"> Place of arrest: </div>

	<div id="" style="text-align:left; position:absolute; top:255px; left:110px"> _______________________________________________________________________________ </div>


	<div id="" style="text-align:left; position:absolute; top:330px; left:410px"> 
		<table border="1" style="width:330px; height:130px">
			<tr>
			  <td></td>
			  <td></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; position:absolute; top:460px; left:455"> Left Thumb </div>
	<div id="" style="text-align:left; position:absolute; top:460px; left:618"> Right Thumb </div>

	<div id="" style="text-align:left; position:absolute; top:505px"> Witness by: </div>
	<div id="" style="text-align:left; position:absolute; top:505px; left:90px"> _____________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:545px; left:420"> Submitted by: </div>

	<div id="" style="text-align:left; position:absolute; top:595px; left:535px"> __________________________</div>
	<div id="" style="text-align:left; position:absolute; top:612px; left:590"> Arresting Officer </div>

	<div id="" style="text-align:left; position:absolute; top:660px; left:535px"> __________________________</div>
	<div id="" style="text-align:left; position:absolute; top:678px; left:600"> DIVISION </div>


</body>

</html>	