<html>
<title>
	Complaint Form Back
</title>

<body>

		<div id="" style="text-align:left;  position:absolute; top:20px"> HAS THE MATTER BEEN REPORTED TO ANY AGENCY? </div>

	<div id="" style="position:absolute; top:18px; left:450px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:20px; left:470px"> YES</div>

	<div id="" style="position:absolute; top:18px; left:550px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:20px; left:570px"> NO</div>

	<div id="" style="text-align:left;  position:absolute; top:45px"> IF SO TO WHAT POLICE AGENCY? </div>

	<div id="" style="text-align:left;  position:absolute; top:70px"> STATUS OF INVESTIGATION (IF ANY): </div>

	<div id="" style="text-align:left;  position:absolute; top:120px"> IS THE MATTER COMPLAINED OF THE SUBJECT OF ANY COURT ACTION OR PROCEEDINGS? </div>

	<div id="" style="position:absolute; top:138px; left:240px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:140px; left:260px"> YES</div>

	<div id="" style="position:absolute; top:138px; left:390px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:140px; left:410px"> NO</div>


	<div id="" style="text-align:left;  position:absolute; top:165px"> IF SO, WHERE?</div>

	<div id="" style="text-align:left;  position:absolute; top:215px"> WHAT CONSIDERATION/S IMPELLED YOU TO REPORT TO THE NBI?</div>

	<div id="" style="text-align:left; position:absolute; top:265px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:19px; position:absolute; top:290px"><b> I CERTIFY THAT THE FOREGOING STATEMENTS ARE TRUE AND CORRECT </b></div>
	<div id="" style="text-align:left; font-size:19px; position:absolute; top:310px; left: 70px"><b> ACCORDING TO THE BEST OF MY KNOWLEDGE AND BELIEF. </b></div>

	<div id="" style="text-align:left; position:absolute; top:370px; left:50px"> 
		<table style="width:250px; height:130px">
			<tr>
			  <td height="110" width="210" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:20px; position:absolute; top:470px; left:500px"> _______________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:495px; left:75px"> RIGHT THUMB FINGER</div>

	<div id="" style="text-align:left;  position:absolute; top:495px; left:565px"> SIGNATURE</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:65px"> SUBSCRIBED AND SWORN TO before me this</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:380px"> ______</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:430px"> day of</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:480px"> ______________</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:600px"> 20</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:620px"> _________</div>

	<div id="" style="text-align:left;  position:absolute; top:560px; left:695px"> in the</div>

	<div id="" style="text-align:left;  position:absolute; top:585px">National Bureau of Investigation, Taft Avenue, Manila, affiant exhibited to me his Residence Certificate No. </div>

	<div id="" style="text-align:left;  position:absolute; top:585px; left:655px">_________ </div>

	<div id="" style="text-align:left;  position:absolute; top:610px"> issued at</div>

	<div id="" style="text-align:left;  position:absolute; top:610px; left:65px">_____________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:610px; left:365px"> on</div>

	<div id="" style="text-align:left;  position:absolute; top:610px; left:385px">______________________________</div>

	<div id="" style="text-align:left;  position:absolute; top:610px; left:628px"> .</div>

	<div id="" style="text-align:left; font-size:20px; position:absolute; top:710px; left:400px"> _________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:735px; left:460px"><b> ADMINISTERING OFFICER<b></div>

	<div id="" style="text-align:left;  position:absolute; top:755px; left:447px"> (By Authority of Republic Act 157)</div>


	<div id="" style="text-align:left;  position:absolute; top:890px; left:600"> PAGE </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:653"> Z9 </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:675"> OF </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:700"> Z9 </div>

</body>
</html>