<html>
<title>
	Booking Sheet and Arrest Report
</title>

<body>

<div id="" style="position:relative">

	<img src="../thesis forms/nbi_header.png" height="90" width="380" style="position:absolute; top:5px">

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:15px; left:552px "><b> BOOKING SHEET AND</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:30px; left:590px "><b> ARREST REPORT</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:50px; left:610px "><b> FORM NO.</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:50px; left:690px "><b> 9999</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:85px; left:610px "> DATE:</div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:85px; left:665px "> 99/99/99</div>

	<div id="" style="text-align:left; position:absolute; top:90px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:110px; left:230px "><b> [1] SUBJECT INFORMATION</b></div>

	<div id="" style="text-align:left; position:absolute; top:118px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:145px"> LAST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:145px; left:220px"> FIRST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:145px; left:480px"> MIDDLE NAME: </div>

	<div id="" style="text-align:left; position:absolute; top:170px"> ALIAS: </div>
	<div id="" style="text-align:left;  position:absolute; top:170px; left:220px"> SEX: </div>

	<div id="" style="position:absolute; top:168px; left:280px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:170px; left:310px"> MALE</div>

	<div id="" style="position:absolute; top:168px; left:400px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:170px; left:430px"> FEMALE</div>

	<div id="" style="text-align:left; position:absolute; top:195px"> ADDRESS: </div>

	<div id="" style="text-align:left; position:absolute; top:240px"> DATE OF BIRTH: </div>

	<div id="" style="text-align:left; position:absolute; top:240px; left:350px"> PLACE OF BIRTH: </div>

	<div id="" style="text-align:left; position:absolute; top:265px"> OCCUPATION: </div>

	<div id="" style="text-align:left; position:absolute; top:265px; left:350px"> CITIZENSHIP: </div>

	<div id="" style="text-align:left; position:absolute; top:290px"> CIVIL STATUS: </div>

	<div id="" style="position:absolute; top:288px; left:120px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:290px; left:140"> SINGLE </div>

	<div id="" style="position:absolute; top:288px; left:220px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:290px; left:240"> MARRIED </div>

	<div id="" style="position:absolute; top:288px; left:340px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:290px; left:360"> DIVORCED </div>

	<div id="" style="position:absolute; top:288px; left:470px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:290px; left:490"> ANNULLED </div>

	<div id="" style="position:absolute; top:288px; left:600px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:290px; left:620"> WIDOWED </div>

	<div id="" style="text-align:left; position:absolute; top:315px"> NAME OF SPOUSE (IF MARRIED): </div>

	<div id="" style="text-align:left; position:absolute; top:340px"> EDUCATIONAL ATTAINMENT: </div>

	<div id="" style="text-align:left; position:absolute; top:365px"> LANGUAGES AND DIALECTS SPOKEN: </div>

	<div id="" style="text-align:left; position:absolute; top:390px"> VOTER'S IDENTIFICATION NO.: </div>

	<div id="" style="text-align:left; position:absolute; top:415px"> MEMBERSHIP CIVIC ORGANIZATION/S: </div>

	<div id="" style="text-align:left; position:absolute; top:465px"> NAME OF NEAREST RELATIVE/S: </div>

	<div id="" style="text-align:left; position:absolute; top:490px"> ADDRESS OF NEAREST RELATIVE/S: </div>

	<div id="" style="text-align:left; position:absolute; top:540px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:570px"> HAIR COLOR: </div>

	<div id="" style="text-align:left; position:absolute; top:570px; left: 175px"> EYE COLOR: </div>

	<div id="" style="text-align:left; position:absolute; top:570px; left: 350px"> COMPLEXION: </div>

	<div id="" style="text-align:left; position:absolute; top:595px"> HEIGHT: </div>

	<div id="" style="text-align:left; position:absolute; top:595px; left: 175px"> WEIGHT: </div>

	<div id="" style="text-align:left; position:absolute; top:595px; left: 350px"> BUILD: </div>

	<div id="" style="text-align:left; position:absolute; top:595px; left: 525px"> RACE: </div>

	<div id="" style="text-align:left; position:absolute; top:610px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:635px; left: 80px"> In case of Alien </div>

	<div id="" style="text-align:left; position:absolute; top:635px; left: 420px"> In case of Naturalized Filipino </div>

	<div id="" style="text-align:left; position:absolute; top:645px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:670px"> LANDING CERTIFICATE NO.: </div>

	<div id="" style="text-align:left; position:absolute; top:670px; left:390px"> PETITION FILE NO.: </div>

	<div id="" style="text-align:left; position:absolute; top:695px"> ALIEN CERTIFICATE NO.: </div>

	<div id="" style="text-align:left; position:absolute; top:695px; left:390px"> NATURALIZATION FILE NO.: </div>

	<div id="" style="text-align:left; position:absolute; top:720px"> DATE ISSUED: </div>

	<div id="" style="text-align:left; position:absolute; top:720px; left:390px"> DATE ISSUED: </div>

	<div id="" style="text-align:left; position:absolute; top:745px"> ISSUED AT: </div>

	<div id="" style="text-align:left; position:absolute; top:745px; left:390px"> ISSUED AT: </div>

	<div id="" style="text-align:left;  position:absolute; top:890px; left:600"> PAGE </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:653"> Z9 </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:675"> OF </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:700"> Z9 </div>





</div>
</body>
</html>
