<html>
<title>
	Booking Sheet and Arrest Report
</title>

<body>
	<div id="" style="text-align:left; font-size:20px; position:absolute; left:130px "><b> BOOKING SHEET AND ARREST REPORT </b></div>


	<div id="" style="text-align:left; position:absolute; top:50px"> Name: </div>

	<div id="" style="text-align:left; position:absolute; top:50px; left: 60px"> ____________________________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:68px; left:100px"> (Surname) </div>
	<div id="" style="text-align:left; position:absolute; top:68px; left:295px"> (Given Name) </div>
	<div id="" style="text-align:left; position:absolute; top:68px; left:520px"> (Middle Name) </div>

	<div id="" style="text-align:left; position:absolute; top:90px"> Nickname: </div>
	<div id="" style="text-align:left; position:absolute; top:90px; left:80px"> ________________________________ </div>
	<div id="" style="text-align:left; position:absolute; top:90px; left:345px"> Nationality: </div>
	<div id="" style="text-align:left; position:absolute; top:90px; left:420px"> _______________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:120px"> Address: </div>
	<div id="" style="text-align:left; position:absolute; top:120px; left:70px"> ___________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:150px"> Place of Birth: </div>
	<div id="" style="text-align:left; position:absolute; top:150px; left:100px"> ______________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:150px; left:410px"> Date of Birth: </div>
	<div id="" style="text-align:left; position:absolute; top:150px; left:500px"> _____________________</div>

	<div id="" style="text-align:left; position:absolute; top:180px"> Occupation: </div>
	<div id="" style="text-align:left; position:absolute; top:180px; left:85px"> ________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:180px; left:410px"> Marital Status: </div>
	<div id="" style="text-align:left; position:absolute; top:180px; left:500px"> _____________________</div>

	<div id="" style="text-align:left; position:absolute; top:210px"> Educational Attainment: </div>
	<div id="" style="text-align:left; position:absolute; top:210px; left:155px"> ________________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:240px"> Hair(Color): </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:85px"> ________________</div>

	<div id="" style="text-align:left; position:absolute; top:240px; left:220px"> Eyes: </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:255px"> ____________</div>

	<div id="" style="text-align:left; position:absolute; top:240px; left:358px"> Height: </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:403px"> _____________</div>

	<div id="" style="text-align:left; position:absolute; top:240px; left:510px"> Weight: </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:560px"> _____________</div>

	<div id="" style="text-align:left; position:absolute; top:270px"> Name and address of nearest relatives: </div>
	<div id="" style="text-align:left; position:absolute; top:270px; left:250px"> ____________________________________________________</div>
	

	<div id="" style="text-align:left; position:absolute; top:300px"> __________________________________________________________________________________</div>


	<div id="" style="text-align:left; position:absolute; top:330px"> When arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:330px; left:105px"> ______________________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:360px"> Date arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:360px; left:98px"> ______________________________</div>

	<div id="" style="text-align:left; position:absolute; top:360px; left:345px"> Time arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:360px; left:435px"> _____________________________</div>

	<div id="" style="text-align:left; position:absolute; top:390px"> Facts known to arresting officer: </div>
	<div id="" style="text-align:left; position:absolute; top:390px; left:210px"> _________________________________________________________</div>
	
	
	<div id="" style="text-align:left; position:absolute; top:420px"> __________________________________________________________________________________</div>


	<div id="" style="text-align:left; position:absolute; top:450px"> Distribution: </div>
	<div id="" style="text-align:left; position:absolute; top:490px"> 1. Central Records </div>
	<div id="" style="text-align:left; position:absolute; top:520px"> 2. Arresting Officer </div>

	<div id="" style="text-align:left; position:absolute; top:450px; left:340px"> Signature of </div>
	<div id="" style="text-align:left; position:absolute; top:465px; left:340px"> person arrested: </div>
	<div id="" style="text-align:left; position:absolute; top:465px; left:440px"> ____________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:520px; left:340px"> Arresting Officer: </div>
	<div id="" style="text-align:left; position:absolute; top:520px; left:450px"> ___________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:540px; left:340px"> Div/Unit/Section: </div>
	<div id="" style="text-align:left; position:absolute; top:540px; left:450px"> ___________________________ </div>


	<div id="" style="text-align:left; position:absolute; top:570px"> __________________________________________________________________________________</div>



	<div id="" style="text-align:left; position:absolute; top:605px"> Prints taken by: </div>
	<div id="" style="text-align:left; position:absolute; top:605px; left:105px"> ______________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:635px"> Date Taken: </div>
	<div id="" style="text-align:left; position:absolute; top:635px; left:90px"> ________________________________ </div>


	<div id="" style="text-align:left; position:absolute; top:645px"> __________________________________________________________________________________</div>


	<div id="" style="text-align:left; font-size:20px; position:absolute; top:665px; left:300px "><b> FPC </b></div>

	<div id="" style="text-align:left; position:absolute; top:685px"> 
		<table style="width:650px; height:130px">
			<tr>
			  <td height="130" width="240" style="border-left:none; border-right:solid; border-top:solid; border-bottom:none; position:absolute; top:5px; font-size:12px">LEFT FOUR FINGERS<br>TAKEN SIMULTANEOUSLY</td>
			  <td height="130" width="75" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:none; position:absolute; top:5px; left:244px"></td>
			  <td height="130" width="75" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:none; position:absolute; top:5px; left:325px"></td>
			  <td height="130" width="230" style="border-left:solid; border-right:none; border-top:solid; border-bottom:none; position:absolute; top:5px; left:406px; font-size:12px">RIGHT FOUR FINGERS<br>TAKEN SIMULTANEOUSLY</td>
			</tr>
		</table>
	</div>	



</body>
</html>	