<html>
<title>
	Booking Sheet and Arrest Report
</title>

<body>

<div id="" style="position:relative">


	<div id="" style="text-align:left; position:absolute; top:5px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:25px; left:280px "><b> [4] FINGERPRINTS</b></div>

	<div id="" style="text-align:left; position:absolute; top:33px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:60px">DATE TAKEN:</div>

	<div id="" style="text-align:left; position:absolute; top:60px; left:130px">99/99/99</div>

	<div id="" style="text-align:left; position:absolute; top:60px; left:570px">NBI ID NO.:</div>

	<div id="" style="text-align:left; position:absolute; top:60px; left:680px">9999</div>

	<div id="" style="position:absolute; top:100px; left:10px"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; f">1. RIGHT THUMB</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:100px; left:145px"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">2. RIGHT INDEX</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:100px; left:280"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">3. RIGHT MIDDLE</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:100px; left:415"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">4. RIGHT RING</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:100px; left:550"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">5. RIGHT LITTLE</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:255px; left:10px"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">6. LEFT THUMB</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:255px; left:145px"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">7. LEFT INDEX</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:255px; left:280"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">8. LEFT MIDDLE</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:255px; left:415"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">9. LEFT RING</td>
			</tr>
		</table>
	</div>

	<div id="" style="position:absolute; top:255px; left:550"> 
		<table style="width:25px; height:25px">
			<tr>
			  <td height="150px" width="130px" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px">10. LEFT LITTLE</td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left; position:absolute; top:430px; left:10px"> 
		<table style="width:700px; height:130px">
			<tr>
			  <td height="130" width="240" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px">LEFT FOUR FINGERS<br>TAKEN SIMULTANEOUSLY</td>
			  <td height="130" width="85" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px; left:247px">LEFT <br>THUMB</td>
			  <td height="130" width="85" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px; left:337px">RIGHT THUMB</td>
			  <td height="130" width="240" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px; left:427px; font-size:12px">RIGHT FOUR FINGERS<br>TAKEN SIMULTANEOUSLY</td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left; position:absolute; top:590px">SCARS, MARKS AND AMPUTATIONS:</div>

	<div id="" style="text-align:left; position:absolute; top:675px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:695px">CLARIFIED BY:</div>

	<div id="" style="text-align:left; position:absolute; top:695px; left:245px">VERIFIED BY:</div>

	<div id="" style="text-align:left; position:absolute; top:695px; left:490">SEARCHED BY:</div>

	<div id="" style="text-align:left; position:absolute; top:770px; left:120px"> ________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:787px; left:195px"> SIGNATURE OF PERSON FINGERPRITED</div>

	<div id="" style="text-align:left; position:absolute; top:850px; left:120px"> ________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:867px; left:165px"> SIGNATURE OF OFFICIAL TAKING FINGERPRINT</div>

	<div id="" style="text-align:left;  position:absolute; top:890px; left:600"> PAGE </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:653"> Z9 </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:675"> OF </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:700"> Z9 </div>


</div>

</body>
</html>