<html>
<title>
	Complaint Form Back
</title>

<body>

<div id="" style="text-align:left; position:absolute; top:5px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:25px; left:210px "><b> [5] SWORN STATEMENT / AFFIDAVIT</b></div>

	<div id="" style="text-align:left; position:absolute; top:33px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:65px"> NARRATION OF FACTS: </div>

	

	<div id="" style="text-align:left;  position:absolute; top:890px; left:600"> PAGE </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:653"> Z9 </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:675"> OF </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:700"> Z9 </div>

</div>	

</body>

</html>