<html>
<title>
	Complaint Form
</title>

<body>

<div id="" style="position:relative">

	<img src="../thesis forms/nbi_header.png" height="90" width="380" style="position:absolute; top:5px">

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:15px; left:560px "><b> COMPLAINT SHEET</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:35px; left:600px "><b> CASE NO.</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:35px; left:680px "><b> 9999</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:65px; left:600px "><b> DATE:</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:65px; left:655px "><b> 99/99/99</b></div>

	<div id="" style="text-align:left; position:absolute; top:90px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:110px; left:220px "><b> [1] COMPLAINANT INFORMATION</b></div>

	<div id="" style="text-align:left; position:absolute; top:118px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:145px"> LAST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:145px; left:220px"> FIRST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:145px; left:480px"> MIDDLE NAME: </div>

	<div id="" style="text-align:left; position:absolute; top:170px"> DATE OF BIRTH: </div>
	<div id="" style="text-align:left;  position:absolute; top:170px; left:220px"> SEX: </div>

	<div id="" style="position:absolute; top:168px; left:280px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:170px; left:310px"> MALE</div>

	<div id="" style="position:absolute; top:168px; left:400px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:170px; left:430px"> FEMALE</div>

	<div id="" style="text-align:left; position:absolute; top:195px"> ADDRESS: </div>

	<div id="" style="text-align:left; position:absolute; top:240px"> CONTACT NO.: </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:220px"> OCCUPATION: </div>
	<div id="" style="text-align:left; position:absolute; top:240px; left:480px"> CITIZENSHIP: </div>

	<div id="" style="text-align:left; position:absolute; top:265px"> CIVIL STATUS: </div>

	<div id="" style="position:absolute; top:263px; left:120px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:265px; left:140"> SINGLE </div>

	<div id="" style="position:absolute; top:263px; left:220px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:265px; left:240"> MARRIED </div>

	<div id="" style="position:absolute; top:263px; left:340px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:265px; left:360"> DIVORCED </div>

	<div id="" style="position:absolute; top:263px; left:470px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:265px; left:490"> ANNULLED </div>

	<div id="" style="position:absolute; top:263px; left:600px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:265px; left:620"> WIDOWED </div>

	<div id="" style="text-align:left; position:absolute; top:310px"> IS THE COMPLAINANT THE VICTIM? </div>

	<div id="" style="position:absolute; top:308px; left:310px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:310px; left:330px"> YES</div>

	<div id="" style="position:absolute; top:308px; left:430px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:310px; left:450px"> NO</div>


	<div id="" style="text-align:left; position:absolute; top:320px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:340px; left:250px "><b> [2] VICTIM INFORMATION</b></div>

	<div id="" style="text-align:left; position:absolute; top:348px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:375px"> LAST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:375px; left:220px"> FIRST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:375px; left:480px"> MIDDLE NAME: </div>

	<div id="" style="text-align:left; position:absolute; top:400px"> DATE OF BIRTH: </div>
	<div id="" style="text-align:left;  position:absolute; top:400px; left:220px"> SEX: </div>

	<div id="" style="position:absolute; top:398px; left:280px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:400px; left:310px"> MALE</div>

	<div id="" style="position:absolute; top:168px; left:398px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:400px; left:430px"> FEMALE</div>

	<div id="" style="text-align:left; position:absolute; top:425px"> ADDRESS: </div>

	<div id="" style="text-align:left; position:absolute; top:470px"> CONTACT NO.: </div>
	<div id="" style="text-align:left; position:absolute; top:470px; left:220px"> OCCUPATION: </div>
	<div id="" style="text-align:left; position:absolute; top:470px; left:480px"> CITIZENSHIP: </div>

	<div id="" style="text-align:left; position:absolute; top:495px"> CIVIL STATUS: </div>
	<div id="" style="position:absolute; top:493px; left:120px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:495px; left:140"> SINGLE </div>

	<div id="" style="position:absolute; top:493px; left:220px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:495px; left:240"> MARRIED </div>

	<div id="" style="position:absolute; top:493px; left:340px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:495px; left:360"> DIVORCED </div>

	<div id="" style="position:absolute; top:493px; left:470px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:495px; left:490"> ANNULLED </div>

	<div id="" style="position:absolute; top:493px; left:600px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:495px; left:620"> WIDOWED </div>

	<div id="" style="text-align:left; position:absolute; top:505px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:525px; left:240px "><b> [3] SUBJECT INFORMATION</b></div>

	<div id="" style="text-align:left; position:absolute; top:533px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:565px"> LAST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:565px; left:220px"> FIRST NAME: </div>
	<div id="" style="text-align:left;  position:absolute; top:565px; left:480px"> MIDDLE NAME: </div>

	<div id="" style="text-align:left; position:absolute; top:595px"> DATE OF BIRTH: </div>
	<div id="" style="text-align:left;  position:absolute; top:595px; left:220px"> SEX: </div>

	<div id="" style="position:absolute; top:593px; left:280px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:595px; left:310px"> MALE</div>

	<div id="" style="position:absolute; top:593px; left:398px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>

	<div id="" style="text-align:left;  position:absolute; top:595px; left:430px"> FEMALE</div>

	<div id="" style="text-align:left; position:absolute; top:620px"> ADDRESS: </div>

	<div id="" style="text-align:left; position:absolute; top:665px"> CONTACT NO.: </div>
	<div id="" style="text-align:left; position:absolute; top:665px; left:220px"> OCCUPATION: </div>
	<div id="" style="text-align:left; position:absolute; top:665px; left:480px"> CITIZENSHIP: </div>

	<div id="" style="text-align:left; position:absolute; top:695px"> CIVIL STATUS: </div>
	<div id="" style="position:absolute; top:693px; left:120px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:695px; left:140"> SINGLE </div>

	<div id="" style="position:absolute; top:693px; left:220px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:695px; left:240"> MARRIED </div>

	<div id="" style="position:absolute; top:693px; left:340px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:695px; left:360"> DIVORCED </div>

	<div id="" style="position:absolute; top:693px; left:470px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:695px; left:490"> ANNULLED </div>

	<div id="" style="position:absolute; top:693px; left:600px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>
	<div id="" style="text-align:left; position:absolute; top:695px; left:620"> WIDOWED </div>

	<div id="" style="text-align:left; position:absolute; top:705px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:725px; left:225px "><b> [4] COMPLAINT INFORMATION</b></div>

	<div id="" style="text-align:left; position:absolute; top:733px"> __________________________________________________________________________________________ </div>

	<div id="" style="text-align:left;  position:absolute; top:765px"> NATURE OF ACT COMPLAINED: </div>
	<div id="" style="text-align:left;  position:absolute; top:795px"> WHERE ACT IS COMMITTED: </div>
	<div id="" style="text-align:left;  position:absolute; top:825px"> WHEN ACT IS COMMITTED: </div>

	<div id="" style="text-align:left;  position:absolute; top:890px; left:600"> PAGE </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:653"> Z9 </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:675"> OF </div>
	<div id="" style="text-align:left;  position:absolute; top:890px; left:700"> Z9 </div>




</div>

</body>

</html>	