<html>
<title>
	Coordination Form
</title>

<body>

	<div id="" style="position:relative">

	<div id="" style="text-align:left; position:absolute; top:10px; left:30px"><i> Entries below this line shall be accomplished by the radio operator / desk of receiving unit / station. </i></div>

		<div id="" style="text-align:left; position:absolute; top:20px"> __________________________________________________________________________________________ </div>

		<div id="" style="text-align:left; font-size:16px; position:absolute; top:60px">
	<table border="2" style="width:700px">
		<tr>
			<td style="text-align:center; width:45%; height:45%"><b>COORDINATION RECEIVED BY</b></td>
			<td style="text-align:center; width:25%; height:25%"><b>OFFICE UNIT</b></td>
			<td style="text-align:center; width:15%; height:25%"><b>DATE</b></td>
			<td style="text-align:center; width:15%; height:25%"><b>TIME</b></td>
		</tr>
		<tr>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
		</tr>
		<tr>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
		</tr>
		<tr>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
		</tr>
		<tr>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
		</tr>
		<tr>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
			<td height="25" width="50"></td>
		</tr>
		
	</table>
</div>


		<div id="" style="text-align:left; position:absolute; top:280px">COORDINATION MADE BY:</div>

		<div id="" style="text-align:left; position:absolute; top:280px; left:220px">___________________________________</div>




</div>
</body>
</html>	