<html>
<title>
	Request for Fingerprinting
</title>

<body>

<div id="" style="position:relative">

	<img src="../thesis forms/nbi_header.png" height="90" width="380" style="position:absolute; top:5px">

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:15px; left:467px "><b> REQUEST FOR FINGERPRINTING</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:35px; left:610px "><b> FORM NO.</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:35px; left:690px "><b> 9999</b></div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:65px; left:610px "> DATE:</div>

	<div id="" style="text-align:left; font-size:16px; position:absolute; top:65px; left:665px ">99/99/99</div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:120px; left:260px "><b> DACTYLOSCOPY DIVISION </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:170px"><b> REQUESTING PARTY: </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:195px"><b> DIVISION/SECTION/UNIT: </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:220px"><b> PURPOSE OF FINGERPRINTING (State the nature of offense): </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:320px"><b> NAME OF SUBJECT/S TO BE FINGERPRINTED </b></div>

	<div id="" style="position:absolute; top:350px"> 
	<table border="2" style="width:720px">
		<tr>
			<td style="text-align:center">LAST NAME</td>
			<td style="text-align:center">FIRST NAME</td>
			<td style="text-align:center">MIDDLE NAME</td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td height="25" width="5"></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>

		<div id="" style="text-align:left; position:absolute; top:650px; left:20px">_____________________________________ </div>

		<div id="" style="text-align:left; position:absolute; top:650px; left:410px">_____________________________________ </div>

		<div id="" style="text-align:left; position:absolute; top:670px; left:40px">SIGNATURE OVER PRINTED NAME</div>

		<div id="" style="text-align:left; position:absolute; top:670px; left:430px">SIGNATURE OVER PRINTED NAME</div>

		<div id="" style="text-align:left; position:absolute; top:690px; left:75px">OF REQUESTING PARTY</div>

		<div id="" style="text-align:left; position:absolute; top:690px; left:465px">OF REQUESTING PARTY</div>

		<div id="" style="text-align:left; font-size:19px; position:absolute; top:760px"><b>"ALL PERSONS ARRESTED, BEFORE TAKING STATEMENT, SHALL FIRST</b></div>

		<div id="" style="text-align:left; font-size:19px; position:absolute; top:780px; left: 80px"><b> BE FINGERPRINTED AT THE DACTYLOSCOPY DIVISION."</b></div>

		<div id="" style="text-align:left; font-size:15px; position:absolute; top:800px; left: 130px"><b>  (NBI MANUAL OF OPERATIONS, POLICY No. 3 PAGE 166)</b></div>


</div>
</body>
</html>	