<html>
<title>
	Request for record check
</title>

<body>
	<div id="" style="position:relative; left:360px">
	
	<img src="../thesis forms/nbi_header.png" height="90" width="380" style="position:absolute; top:5px; left:100px">

	<div id="" style="text-align:left; font-size:20px; position:absolute; top:110px"><b> CENTRAL IDENTIFICATION, RECORDS & STATISTICS DIVISION </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:140px; left:150px "><b> REQUEST FOR RECORD CHECK </b></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:190px; left:380px "> Date: </div>
	<div id="" style="text-align:left; font-size:18px; position:absolute; top:190px; left:425px "> _____________________ </div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:230px "><u> INTERPOL </u></div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:260px ">Please check the record of this Subject for:</div>

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:278px ">(Check the block for the information desired)</div>


	<div id="" style="position:absolute; top:315px; left:25px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:317px; left:50px ">All Information</div>


	<div id="" style="position:absolute; top:315px; left:390px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:317px; left:415px ">Address</div>


	<div id="" style="position:absolute; top:345px; left:25px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:347px; left:50px ">Derogatory or Criminal Records</div>


<div id="" style="position:absolute; top:345px; left:390px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:347px; left:415px ">Personal Data</div>

	<div id="" style="position:absolute; top:375px; left:25px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:377px; left:50px ">Fingerprint & Photo</div>


	<div id="" style="position:absolute; top:375px; left:390px"> 
		<table style="width:5px; height:5px">
			<tr>
			  <td height="5" width="5" style="border-left:solid; border-right:solid; border-top:solid; border-bottom:solid; position:absolute; top:5px; font-size:12px"></td>
			</tr>
		</table>
	</div>	

	<div id="" style="text-align:left; font-size:18px; position:absolute; top:377px; left:415px ">Clearance Issued</div>


	<div id="" style="text-align:left; position:absolute; top:420px"> Name: </div>

	<div id="" style="text-align:left; position:absolute; top:420px; left: 60px"> _____________________________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:440px; left:90px"> (Last Name) </div>
	<div id="" style="text-align:left; position:absolute; top:440px; left:280px"> (First Name) </div>
	<div id="" style="text-align:left; position:absolute; top:440px; left:470px"> (Middle Name) </div>


	<div id="" style="text-align:left; position:absolute; top:470px"> Alias: </div>
	<div id="" style="text-align:left; position:absolute; top:470px; left:50px"> _________________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:470px; left:450px"> Sex: </div>
	<div id="" style="text-align:left; position:absolute; top:470px; left:480px"> _________________ </div>

	<div id="" style="text-align:left; position:absolute; top:500px"> Address: </div>
	<div id="" style="text-align:left; position:absolute; top:500px; left:70px"> _______________________________________________ </div>

	<div id="" style="text-align:left; position:absolute; top:500px; left:450px"> Race: </div>
	<div id="" style="text-align:left; position:absolute; top:500px; left:490px"> ________________ </div>

	<div id="" style="text-align:left; position:absolute; top:530px"> Date of Birth: </div>
	<div id="" style="text-align:left; position:absolute; top:530px; left:95px"> _________________________</div>

	<div id="" style="text-align:left; position:absolute; top:530px; left:300px"> Place of Birth: </div>
	<div id="" style="text-align:left; position:absolute; top:530px; left:390px"> _____________________________</div>

	<div id="" style="text-align:left; position:absolute; top:560px"> Purpose of Record Check: </div>
	<div id="" style="text-align:left; position:absolute; top:560px; left:175px"> _______________________________________________________</div>

	<div id="" style="text-align:left; position:absolute; top:620px; left:360px"> _____________________________</div>
	<div id="" style="text-align:left; position:absolute; top:638px; left:430px"> Requesting Agent </div>

	<div id="" style="text-align:left; position:absolute; top:680px"><b> Approved: </b></div>

	<div id="" style="text-align:left; position:absolute; top:730px; left:30px"> _____________________________</div>
	<div id="" style="text-align:left; position:absolute; top:750px; left:65px"><b> Chief, Interpol Division </b> </div>


	</div>


</body>

</html>	